@use "../ui/MainBlock.module.scss";

.introduction {
   display: flex;
   justify-content: space-between;
   align-items: center;

   .introduction__description {
   }

   .description {
      text-align: start;

      &__profession {
         font-size: 2.6em;
         color: #883737;
      }

      &__skillsText {
         font-size: 1.8em;
         color: #883737;
      }

      &__skills {
         padding: 0;
      }

      .skills {
         width: 100%;
         height: inherit;
         display: flex;
         justify-content: start;
         align-items: start;
         flex-wrap: wrap;

         &__items {
            padding: 5px 10px;
            margin: 5px 10px;
            border-radius: 15px;
            background-color: rgba(121, 119, 119, 0.2);
            font-weight: 500;
         }
      }
   }

   .introduction__photo {
   }

   .introduction__face {
      border-radius: 100%;
      width: 21em;
      height: 21em;
   }

   @media (max-width: 540px) {
      .description {
         &__profession {
            font-size: 1.6em;
         }

         &__skillsText {
            font-size: 1.6em;
         }
      }

      .introduction__face {
         width: 240px;
         height: 240px;
      }
   }
}

@media (max-width: 1000px) {
   .introduction {
      justify-content: center;
      flex-wrap: wrap;
   }
}

@media (max-width: 610px) {
   .mainBlock {
      padding: 10px 20px;
   }
}
