@use "../ui/MainBlock.module.scss";

.contacts {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;

   &__block {
   }

   .block {
      width: 150px;
      height: 150px;
      margin: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 15px;
      cursor: pointer;
      transition: margin 0.5s;
   }

   .block:hover {
      margin-top: 125px;
      transition: margin 0.5s;
   }

   .icon {
      color: inherit;
   }

   .text {
      margin-left: 5px;
      font-size: 20px;
      font-weight: 500;
   }

   &__dialog {
      color: rgb(66, 120, 13);
      background-color: antiquewhite;
      border-radius: 10px;
      font-size: 20px;
      font-weight: 500;
      padding: 10px 20px;
      position: absolute;
      z-index: 5;
   }

   &__open {
      animation: moveBlock 3s forwards;
   }

   &__close {
      display: none;
   }

   @keyframes moveBlock {
      0% {
         top: -50px;
         opacity: 0;
      }
      10% {
         top: 90px;
         opacity: 1;
      }
      90% {
         top: 90px;
         opacity: 1;
      }
      100% {
         top: -50px;
         opacity: 0;
      }
   }

   @media (max-width: 425px) {
      &__dialog {
         font-size: 15px;
      }
   }
}
