.dialog {
   color: rgb(66, 120, 13);
   background-color: antiquewhite;
   border-radius: 10px;
   font-size: 20px;
   font-weight: 500;
   padding: 10px 20px;
   position: fixed;
   top: 10px;
   z-index: 5;
   opacity: 0;
}

.show {
   animation: moveBlock 4s forwards;
}

@keyframes moveBlock {
   0% {
      opacity: 0;
   }
   50% {
      opacity: 1;
   }
   100% {
      opacity: 0;
   }
}

@media (max-width: 425px) {
   .dialog {
      font-size: 15px;
   }
}
